<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<link rel="icon" href="{$ptype_url}/images/favicon.png" type="image/png" />
<title>咪咻</title>

<!-- 公共样式 -->
<link rel="stylesheet" type="text/css" href="{$ptype_url}/css/index.css" />
<link rel="stylesheet" type="text/css" href="{$ptype_url}/css/main.css" />
<link rel="stylesheet" type="text/css" href="{$ptype_url}/css/cityPicker.css">



<!-- 字体图标 -->
<link rel="stylesheet" type="text/css" href="{$ptype_url}/css/font-awesome.min.css" />
<link rel="stylesheet" type="text/css" href="{$ptype_url}/css/icon.min.css" />


</head>
<body>
  
  <div class="header">
    <div class="center">
      <div class="top">
        <div class="user_menu user_more_menu">
          {$login}
        </div>
      </div>

      <div class="losearch">
        <div class="logo"><a href="{:U('Web/Index/index')}"><img src="{$ptype_url}/images/logo.png" /></a></div>
        <div class="order_progress">
          <h1  class="setting_process order_pay_1"></h1>
        </div>
      </div>
    </div>
  </div>