<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<link rel="icon" href="{$ptype_url}/images/favicon.png" type="image/png" />
<title>咪咻</title>

<!-- 公共样式 -->
<link rel="stylesheet" type="text/css" href="{$ptype_url}/css/index.css" />
<link rel="stylesheet" type="text/css" href="{$ptype_url}/css/main.css" />
<link rel="stylesheet" type="text/css" href="{$ptype_url}/css/cityPicker.css">



<!-- 字体图标 -->
<link rel="stylesheet" type="text/css" href="{$ptype_url}/css/font-awesome.min.css" />
<link rel="stylesheet" type="text/css" href="{$ptype_url}/css/icon.min.css" />


</head>
<body>
  
  <div class="header">
    <div class="center">
      <div class="top">
        <div class="domain">
          <b>欢迎来到咪咻！</b>
          <b style="padding-left: 20px"><a href="{:U('Web/Index/index')}">返回首页</a> </b>
        </div>

        <div class="user_menu muntity">
          <li><p><img src="{$memberinfo.headimg}" /><span>{$memberinfo.nickname}</span></p></li>
          <li><p><img src="{$ptype_url}/images/icon_integral.png" /><red>积分</red><span class="fb8">{$memberinfo.score}</span></p></li>
          <li><a href="javascript:;" id="user_sign" class='user_sign'>
            <if condition="($memberinfo.is_sign eq 1) ">已签到
              <else /> 签到
            </if>
          </a></li>
        </div>

        <input type="hidden" value="{$memberinfo.is_sign}" id="sign_hidden"/>

      </div>

      <div class="losearch">
        <div class="logo"><a href="{:U('Index/index')}"><img src="{$ptype_url}/images/logo.png" /></a></div>
        <div class="search">
          <form method="post" action="{:U('Web/Search/search')}">
            <input type="text" placeholder="请输入搜索内容" value="{$formget.keyword}" name="keyword" class="search_text" />
            <input type="submit" value="" class="search_bnt" />
            <select class="select_ed" name="type">
              <option  value="2"   <if condition="($formget.type eq '2')">selected</if> >宠物</option>
              <option  value="1"   <if condition="($formget.type eq '1')">selected</if>>商品</option>
            </select>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="user_siign">
    <p>恭喜获得200积分</p>
  </div>
  <script src="{$ptype_url}/js/jquery-1.9.1.min.js"></script>
  <script type="text/javascript">

    var intervalid;
    intervalid = setInterval("count_down()", 3000);

    $(".user_sign").on('click',function(){

      if($('#sign_hidden').val() == '1') {
        layer.msg("您已签到");return;
      }

      $.post("{:U('Web/Community/signIn')}", {test:'test'}, function (rst) {
        var obj = new Function("return" + rst)();

        if(obj.code == 200) {
          layer.msg("已签到");
          $(".user_siign p").html('恭喜获得'+obj.score+'积分');
          $(".user_siign").css('display','block');
          $(".fb8").text(obj.now_score);
          $(".user_sign").text('已签到');
          $('#sign_hidden').val('1');
        } else {
          layer.msg(obj.error);
        }
      });

    })
    function count_down(){
      $(".user_siign").css('display','none');
    }



  </script>