
body{
	margin: 0px; 
	padding: 0px; 
	font-size: 14px;
	font-family:'Microsoft Yahei';
}
*{
	font-family:'Microsoft Yahei';
}
h1,h2,h3,h4,h5,h6,p,ul,dt,dl{
	margin: 0px; padding: 0px; 
}
li{
	list-style: none;
}
input{
	font-family:'Microsoft Yahei' !important;
	cursor: pointer;
}
.img{
	border:none;
}
a{
	color: #333;
	text-decoration: none;
}
a:hover{
	color: #6ac33f;
}
input:focus{
	outline: none;
}
textarea:focus{
	outline: none;
}
.header{
	width: 100%;
	height: 35px;
	background: #f5f5f5;
	border-bottom: 1px solid #e4e3e3;
	box-sizing:border-box;
	line-height: 35px;
}
.center{
	width: 1200px;
	margin: 0px auto;
}
.top{
	float: left;
	width: 100%;
	height: 35px;
}
.domain{
	width: 300px;
	float: left;
}
.domain b{
	float: left;
	font-weight: 300;
}
.form {
	width:100px;
	height: 35px;
	line-height: 35px;
	float: left;
	background: #f5f5f5;
	border-bottom: 1px solid #e4e3e3;
	box-sizing:border-box;
	position: relative;
}
#mySelect_select{
	line-height: 35px;
}
.j_select {
	width: 60px !important;
	margin:0;
	padding:0;
	cursor:pointer;
	position: relative;
	display:inline-block;
}
.j_select .current_select {
	margin:0;
	padding:0;
	height:35px;
	line-height:35px;
	text-indent:1em;
	outline:none;
	background: #f5f5f5;
	color: #666;
	float: right;
	border-bottom: 1px solid #e4e3e3;
	box-sizing:border-box;	

}
.j_select .current_select .select_icon {
	margin:0;
	padding:0;
	position:absolute;
	right:5px;
	top:12px;
	color: #666;
	margin: 0px -22px 0px 0px;
}
.j_select ul {
	margin:35px 0px 0px;
	padding:0;
	border:1px solid #eee;
	border-radius:2px;
	display:none;
	box-shadow:1px 1px 2px #ccc;
	background:#fff;
	position:absolute;
	width:calc(600% - 2px) !important;
	max-height:302px;
	overflow:auto;
	outline:none;
	z-index:99 !important;
	padding: 10px;
	box-sizing:border-box;
}
.j_select ul li {
	margin:0;
	padding:0;
	line-height:30px;
	list-style:none;
	width: 80px;
	float: left;
	text-align: center;
}
.j_select ul li:hover {
	background:#6ac33f;
	color:#fff;
	cursor:default;
	cursor: pointer;
}
.j_select ul li.current_item {
	background:#6ac33f;
	color:#fff;
	cursor:default;
}
.user_menu{
	width: 525px;
	float: right;
	color: #c3c4c4;
}
.user_menu li{
	display: inline-block;
	text-align: right;
	margin: 0px 10px;
	height: 35px;
	line-height: 35px;
}
.user_menu li:first-child{
	float: left;
}
.user_menu li img{
	width: 20px;
	float: left;
	margin: 9px 0px 0px;
}
.losearch{
	width:100%;
	float: left;
	margin: 20px 0px ;
}
.losearch .logo{
	width: 270px;
	float: left;
	margin: 0px 100px 0px 0px;
}
.logo img{
	width: 100%;
}
.search{
	width: 500px;
	float: left;
	margin: 25px 0px 0px  50px;
	height: 40px;
	position: relative;
}
.search_text{
	width:400px;
	float: left;
	height: 40px;
	line-height: 40px;
	border:2px solid #6ac33f;
	box-sizing:border-box;
	padding: 0px 100px 0px 10px;
}
.search_bnt{
	width: 80px;
	float: left;
	height: 40px;
	background:url(../images/search.png) no-repeat center #6ac33f;
	border:none;
}
.select_ed{
	width: 60px;
	height: 34px;
	line-height: 34px;
	border:none;
	position:absolute;
	top: 4px;
	right: 120px;
	cursor: pointer;
	z-index: 2;
}
select:focus {
	outline: none;

}
.footer{
	width: 100%;
	float: left;
	background: #eef9ff;
	margin: 50px 0px 0px;
	padding: 40px 0px 0px;
}
.foot_left{
	width: 250px;
	float: left;
}
.foot_left img{
	width: 70%;
	float: left;
	margin: 0px 15% 15px ;
}
.foot_left h1{
	width: 100%;
	float: left;
	line-height: 25px;
	font-size: 12px;
	font-weight: 300;
	text-align: center;
	color: #666;
}
.foot_cent{
	width: 300px;
	float: left;
	margin: 0px ;
	text-align: center;
	margin: 0px 0px 0px 20px;
	font-size: 12px;
}
.foot_cent img{
	width: 60%;
	margin: 0px 0px 10px; 
}
.foot_cent .racode{
	width: 50%;
	float: left;
}
.foot_right{
	width: 600px;
	float: right;
}
.foot_right li{
	width: 25%;
	float: left;
	text-align: center;
}
.foot_right li dl{
	font-size: 14px;
	line-height: 30px;
}
.foot_right li dt{
	font-size: 12px;
	line-height: 30px;
}
.foot_right li dt a{
	color: #666;
}
.foot{
	background: #6ac33f;
	width: 100%;
	float: left;
	padding: 25px 0px;
	margin: 40px 0px 0px;
	text-align: center;
	color: #fff;
}
.foot p{
	font-size: 14px;
	color: #fff;
	font-weight: 300;
}
.list_page{
	width: 100%;
	float: left;
	text-align: right;
	margin: 30px 0px;
}

.list_page a{
	color: #666;
	padding: 0px 5px;
}
.list_page span{
	color: #7abbe5;
	padding: 0px 5px;
	font-size: 18px;
}

/*商品菜单*/
@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?f6te7p');
  src:  url('../fonts/icomoon.eot?f6te7p#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?f6te7p') format('truetype'),
    url('../fonts/icomoon.woff?f6te7p') format('woff'),
    url('../fonts/icomoon.svg?f6te7p#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-nav_menu_1:before {
  content: "\e901";
  margin: 6px 0px 0px;
}
.icon-nav_menu_2:before {
  content: "\e900";
  margin: 0px 0px 0px -6px;
  font-size: 30px !important;
}
.icon-nav_menu_3:before {
  content: "\e905";
  font-size: 24px !important;
}
.icon-nav_menu_4:before {
  content: "\e904";
  font-size: 32px !important;
  margin: 0px 0px 0px -10px;
}
.icon-nav_menu_5:before {
  content: "\e902";
}
.icon-nav_menu_6:before {
  content: "\e903";
  font-size: 29px !important;
}

.icon-nav_menu_1{
	margin: 14px 5px 0px 10px !important;
}
.icon-nav_menu_2{
	margin: 13px 6px 0px 10px !important;
}
.icon-nav_menu_3{
	margin: 13px 9px 0px 6px !important;
}
.icon-nav_menu_4{
	margin: 7px 4px 0px 10px !important;
}
.icon-nav_menu_5{
	margin: 13px 9px 0px 10px !important
}
.icon-nav_menu_6{
	margin: 10px 12px 0px 10px !important;
}
.all-sort-list .item a:hover span:before{
	color: #7abbe5;
}
/* 屏幕适配 */
@media (min-width:1200px) {
	.user_menu{
		width: 555px;
	}
}