body{
  padding: 0px;
  margin: 0px;
  font-family:"Microsoft Yahei";
}
li{
  list-style: none;
}
p,img,h1,h2,h3,h4,h5{
  margin: 0px;
  padding: 0px;
  border:none;
}
.main{
  width: 100%;
  float: left;
}
.main img{
  width: 100%;
}
.main p{
  font-size: 14px;
}

@media (min-width:320px) {
  p{
    font-size: 12px;
  }
}
@media (min-width:410px) {
  p{
    font-size: 14px;
  }
}