<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<link rel="icon" href="images/favicon.png" type="image/png" />
<title>咪咻</title>

<!-- 公共样式 -->
<link rel="stylesheet" type="text/css" href="{$ptype_url}/css/index.css" />
<link rel="stylesheet" type="text/css" href="{$ptype_url}/css/main.css" />


</head>
<body class="body_bg_img">
	<div class="app_top">
		<img class="app_banner" src="{$ptype_url}/images/app_banner.png" />
		<div class="ipadn">
			<div class="ipadn_logo"><a href="{:U('Web/Index/index')}"> <img src="{$ptype_url}/images/app_logo.png" /></a></div>
			<div class="download_app">
				<img src="{$ptype_url}/images/code_app.png" />
				<li><a href="#"><img src="{$ptype_url}/images/iphone.png" /> Android下载</a></li>
				<li><a href="#"><img src="{$ptype_url}/images/android.png" /> Iphone下载</a></li>
			</div>
		</div>
	</div>

	<div class="main_app">
		<div class="center">
			<img src="{$ptype_url}/images/main_app.png" />
		</div>
	</div>

	<div class="app_foot">
		<div class="center">
			<li><img src="{$ptype_url}/images/app_phone.png" /><h1>电话</h1> <p>400-135-1314</p></li>
			<li><img src="{$ptype_url}/images/app_email.png" /><h1>邮箱</h1> <p>18600256742@qq.com</p></li>
			<li><img src="{$ptype_url}/images/app_address.png" /><h1>地址</h1> <p>四川省双流县环港路四川哈狼家科技有限公司</p></li>
		</div>
	</div>

  	<div class="back_home">
    	<a href="{:U('Web/Index/index')}" title="返回首页"><img src="{$ptype_url}/images/go_back.png"  title="返回首页"/></a>
 	</div>

</body>
</html>