<admintpl file="header" />
<script type="text/html" id="photos-item-wrapper">
    <li id="savedimage{id}">
        <input id="photo-{id}" type="hidden" name="photos_url[]" value="{filepath}">
        <input id="photo-{id}-name" type="text" name="photos_alt[]" value="{name}" style="width: 160px;" title="图片名称">
        <img id="photo-{id}-preview" src="{url}" style="height:36px;width: 36px;" onclick="parent.image_preview_dialog(this.src);">
        <a href="javascript:upload_one_image('图片上传','#photo-{id}');">替换</a>
        <a href="javascript:$('#savedimage{id}').remove();">移除</a>
    </li>
</script>
</head>
<body>
<ul class="nav nav-tabs">
    <!--<li><a href="{:U('Index/detail')}" target="_self">商家详情</a></li>-->
    <li class="active"><a href="javascript:;">账号设置</a></li>

</ul>
<!--<form action="{:U(Index/uploadImg)}" enctype="multipart/form-data" method="post" >
    <input type="text" name="name" />
    <input type="file" name="photo1" />
    <input type="file" name="photo2" />
    <input type="submit" value="提交" ></form>-->
<form action="{:U(Info/imageUp)}" enctype="multipart/form-data" method="post" style="margin-left: 50px;">

    <!--<input type="text" name="name" />-->
    <input type="file" name="photo1" />
    <div class="form-actions">
        <button class="btn btn-primary js-ajax-submit" type="submit">提交</button>

    </div>
</form>

</body>
<script type="text/javascript">
    //编辑器路径定义
    var editorURL = GV.WEB_ROOT;
</script>
<script type="text/javascript" src="__PUBLIC__/js/ueditor/ueditor.config.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/ueditor/ueditor.all.min.js"></script>
<script src="__PUBLIC__/js/common.js"></script>

</html>