<!-- 头像上传 -->
<link href="{$ptype_url}/css/headupload/bootstrap.css" rel="stylesheet">
<link href="{$ptype_url}/css/headupload/cropper.min.css" rel="stylesheet">
<link href="{$ptype_url}/css/headupload/sitelogo.css" rel="stylesheet">
<include file="./application/Web/View/header_user.html"/>


<div class="user_usercenter box-sizing">
    <div class="head_upload">
        <li><b>头像：</b>
            <div class="ibox-content">
                <div class="row">
                    <div id="crop-avatar" class="col-md-6">
                        <div class="avatar-view" title="点击修改头像">
                            <img src="{$member.headimg}" alt="Logo">
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li><b>昵称：</b> <span id="my_nickname">{$member.nickname}</span> <a href="#" id="change_name">修改昵称</a></li>
    </div>
</div>
</div>
</div>


<div class="modal fade" id="avatar-modal" aria-hidden="true" aria-labelledby="avatar-modal-label" role="dialog"
     tabindex="-1">

    <form class="avatar-form" action="{:U('Web/Member/updateHeadimg')}" enctype="multipart/form-data"
          method="post">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

                <div class="modal-header">
                    <button class="close" data-dismiss="modal" type="button">&times;</button>
                    <h4 class="modal-title" id="avatar-modal-label">修改头像</h4>
                </div>


                <div class="modal-body">
                    <div class="avatar-body">
                        <div class="avatar-upload">
                            <input class="avatar-src" name="avatar_src" type="hidden">
                            <input class="avatar-data" name="avatar_data" type="hidden">
                            <label for="avatarInput">图片上传</label>
                            <input class="avatar-input" id="avatarInput" name="avatar_file" type="file"></div>
                        <div class="row">
                            <div class="col-md-9">
                                <div class="avatar-wrapper"><img src="{$member.headimg}"> </div>
                            </div>
                            <div class="col-md-3">
                                <div class="avatar-preview preview-lg"></div>
                                <div class="avatar-preview preview-md"></div>
                                <div class="avatar-preview preview-sm"></div>
                            </div>
                        </div>
                        <div class="row avatar-btns">
                            <div class="col-md-9">
                                <!--<div class="btn-group">-->
                                    <!--<button class="btn" data-method="rotate" data-option="-90" type="button"-->
                                            <!--title="Rotate -90 degrees"><i class="fa fa-undo"></i> 向左旋转-->
                                    <!--</button>-->
                                <!--</div>-->
                                <!--<div class="btn-group">-->
                                    <!--<button class="btn" data-method="rotate" data-option="90" type="button"-->
                                            <!--title="Rotate 90 degrees"><i class="fa fa-repeat"></i> 向右旋转-->
                                    <!--</button>-->
                                <!--</div>-->
                            </div>
                            <div class="col-md-3">
                                <button class="btn btn-success btn-block avatar-save" type="submit"><i
                                        class="fa fa-save"></i> 保存修改
                                </button>
                            </div>
                        </div>

                    </div>
                </div>



        </div>
    </div>
    </form>
</div>

<div class="loading" aria-label="Loading" role="img" tabindex="-1"></div>


<!--[if lte IE 8]>

<script src="js/ieBetter.js"></script>

<![endif]-->


<include file="./application/Web/View/footer_other.html"/>
<!-- 头像上传 -->
<script src="{$ptype_url}/css/headupload/cropper.min.js"></script>
<script src="{$ptype_url}/css/headupload/sitelogo.js"></script>
<script src="{$ptype_url}/css/headupload/bootstrap.min.js"></script>




<script type="text/javascript">
    $("#change_name").on('click', function () {
        var action = "{:U('Web/Member/updataNickname')}";
        layer.open({
            type: 1,
            skin: 'change_name_userinfo', //样式类名
            closeBtn: 0, //不显示关闭按钮
            anim: 2,
            shadeClose: true, //开启遮罩关闭
            content: '<form method="post" action="' + action + '"><li>'
            + '<b>昵称：</b>'
            + '<input type="text" name="nickname" value="{$member.nickname}" /></li>'
            + '<li><b></b><input class="baocun" type="submit" value="保 存" /></li></form>'
        });
    })
</script>


<style>
    .cropper-crop-box{
        display:none !important;
    }
    .cropper-modal{
        background: none;
    }
</style>




