
<link href="{$ptype_url}/css/city-picker.css" rel="stylesheet" type="text/css" />
<link href="{$ptype_url}/css/headupload/bootstrap.css" rel="stylesheet" type="text/css" />
<include file="./application/Web/View/header_menu.html"/>

<div class="mian_cent" >
	<div class="center">
		<form id="form_a" method="post" action="{:U('Web/Foster/foster')}">
			<div class="pet_carriage">
				<h1>区域选择</h1>
				<li>
					<b>所在城市：</b> 
					<div id="distpicker">

						<div class="form-group">
							<select class="form-control" id="fos_province"  onchange="prov()" name="fos_province">
								{$area.province}
							</select>
							<select class="form-control" id="fos_city" onchange="city_c()" name="fos_city">
								{$area.city}
							</select>
							<select class="form-control" id="fos_country" onchange="country_d()" name="fos_country">
								{$area.country}
							</select>
						</div>
					</div>
				</li>
			</div>

			<div class="pet_carriage">
				<h1>宠物信息</h1>
				<li>
					<b>宠物类型：</b>
					<select class="select_refund" name="ptype">
						<foreach name="PetCategory" item="vo">
							<option value="{$vo.pet_variety_id}">{$vo.pet_variety}</option>
						</foreach>
					</select>

				<li>
					<b>宠物年龄：</b> <input type="number" id="fo_age" name="fo_age" maxlength="2" class="wid wid100"/>月
				</li>
				<li>
					<b>是否做完疫苗：</b> 
					<div class="foster_pet">
						<dl>
							<label><input type="radio" name="vaccine_status"  value="1" class="checkbox mag" checked/>是</label>
							<label><input type="radio" name="vaccine_status" value="2" class="checkbox mag" />否</label>
						</dl>

						<div id="vaccine_con" >
							<dl>
								<label><input type="text" id="vaccine_content_start" name="vaccine_content_start" class="wid wid100" />针</label>
								<label><input type="text" id="vaccine_content_end" name="vaccine_content_end" class="wid wid100" />联</label>
							</dl>

							<dl>
								<input type="text" name="vaccine_time" class="wid wid300" id="foster_pet_date" /> <p>（最近疫苗时间）</p>
							</dl>
						</div>
					</div>
				</li>

			</div>

			<div class="pet_carriage">
				<h1>费用计算</h1>
				<li>
					<b>宠物大小：</b> 
					<div class="pet_daxiao" id="pet_daxiao">
						{$area.service.fos_service.weight}

					</div>
				</li>
				<li>
					<b>寄养日期：</b> 
					
						<label><input type="text" name="time_start" class="wid wid200" id="pet_start" />至</label>
						<label><input type="text" name="time_end" class="wid wid200" id="pet_over" />&nbsp;</label>
					
				</li>

				<li>
					<b>是否自带狗粮：</b> 
					<label><input type="radio" name="fo_dog_food" value="1" class="checkbox mag" checked/> 是</label>
					<label><input type="radio" name="fo_dog_food" value="2" class="checkbox mag" /> 否</label>
				</li>

			</div>


			<div class="pet_carriage">
				<h1>取宠方式及联系人</h1>
				<li>
					<b>取货方式：</b> 
					<label id="pick_up"><input type="radio"  id="fo_pickup_a" name="fo_pickup" value="1" class="checkbox mag" /> 上门取货</label>
					<label id="delivery"><input type="radio" id="fo_pickup_b" name="fo_pickup" value="2" class="checkbox mag" />送货上门</label>
				</li>

				<li class="address_pet_car"><b>详细地址：</b> <label class="address_user_pet">{$area.service.fos_service.send_address}</label></li>


				<input type="hidden" id="add_hide" value="{$area.service.fos_service.send_address}">



				<li><b>联系人：</b> <input type="text" id="fo_contacts" name="fo_contacts" class="wid wid300"/> </li>
				<li><b>联系电话：</b> <input type="text" id="fo_contacts_phone" name="fo_contacts_phone" class="wid wid300"/> </li>

			</div>

			<div class="pet_carriage_pice">
				<div class="amount_pice_pay">
					<h2><input type="checkbox" class="checkbox mag" checked="checked"/><a href="javascript:;" id="protocol_pet_pic">我已阅读并同意服务协议</a> </h2>
					<input type="button" id="button"  onclick="but()" class="order_pay_pet" value="下一步" >
				</div>
			</div>


		</form>
	</div>
</div>

<include file="./application/Web/View/footer.html"/>
 
<!-- 区域选择 -->
<script type="text/javascript" src="{$ptype_url}/css/headupload/bootstrap.min.js"></script>
<script type="text/javascript" src="{$ptype_url}/js/city-picker.data.js"></script>
<script type="text/javascript" src="{$ptype_url}/js/city-picker.js"></script>
<script type="text/javascript" src="{$ptype_url}/js/main.js"></script>

<script type="text/javascript" src="{$ptype_url}/js/jedate.min.js"></script>

<script>
	$('.checkbox').click(function(){
		var vab = $("input[name='vaccine_status']:checked").val();
		if( vab == 2  ){
			$('#vaccine_con').hide();
		}else{
			$('#vaccine_con').show();
		}
	})

</script>


<script>
	function prov(){
		var province = $('#fos_province').val();

		$.post("{:U('Web/Foster/getFosteerArea')}",{fos_province:province},function(data){
			$('#fos_city').html(data.city);
			$('#fos_country').html(data.service.country);
			$('#pet_daxiao').html(data.service.fos_service.weight);
			$('#addresssss').html(data.service.fos_service.send_address);
			$('#add_hide').val(data.service.fos_service.send_address);
		})
	}

	function city_c(){
		var city = $('#fos_city').val();

		$.post("{:U('Web/Foster/getFosterCountry')}",{fos_city:city},function(data){
			$('#fos_country').html(data.country);
			$('#pet_daxiao').html(data.fos_service.weight);
			$('#addresssss').html(data.fos_service.send_address);
			$('#add_hide').val(data.fos_service.send_address);

		})
	}

	function country_d(){
		var fos_country = $('#fos_country').val();
		$.post("{:U('Web/Foster/foster_service')}",{country:fos_country},function(data){
			$('#pet_daxiao').html(data.weight);
			$('#addresssss').html(data.send_address);
			$('#add_hide').val(data.send_address);

		})
	}
	function but(){
		var fo_age = $('#fo_age').val();
		if( fo_age.length<= 0){
			layer.tips('请填写宠物年龄。', '#fo_age', {
				tips: [1, '#FFFFFF'],
				time: 2000
			});
			return false;
		}

		var vaccine_status = $("input[name='vaccine_status']:checked").val();
		var vaccine_content_start = $('#vaccine_content_start').val();

		var foster_pet_date = $('#foster_pet_date').val();
		if(  vaccine_status == 1 && vaccine_content_start.length<= 0 ){
			layer.tips('请填写疫苗情况。', '#vaccine_content_start', {
				tips: [1, '#FFFFFF'],
				time: 2000
			});
			return false;
		}

		if(  vaccine_status == 1 && vaccine_content_start.length<= 0 ){
			layer.tips('请填写疫苗情况。', '#vaccine_content_start', {
				tips: [1, '#FFFFFF'],
				time: 2000
			});
			return false;
		}



		var pick_up = $("input[name='fo_pickup']:checked").val();
		var addresssss = $('#addresssss').val();

		if(  pick_up == 1 && addresssss.length<= 0 ){

			layer.tips('请填写详细收货地址。', '#addresssss', {
				tips: [1, '#FFFFFF'],
				time: 2000
			});
			return false;
		}


		var fo_contacts = $('#fo_contacts').val();
		if( fo_contacts.length<= 0){
			layer.tips('请填写联系人姓名。', '#fo_contacts', {
				tips: [1, '#FFFFFF'],
				time: 2000
			});
			return false;
		}


		var fo_contacts_phone = $('#fo_contacts_phone').val();
		if( fo_contacts_phone.length!= 11){
			layer.tips('请填写正确的联系人电话。', '#fo_contacts_phone', {
				tips: [1, '#FFFFFF'],
				time: 2000
			});
			return false;
		}

		if( !checkEndTime()){

			layer.tips('！寄养结束时间必须晚于开始时间。', '#pet_start', {
				tips: [1, '#FFFFFF'],
				time: 2000
			});
			return false;

		}
		$("#button").attr("disabled","disabled");
		$('#form_a').submit();
	}

	function checkEndTime(){
		var startTime=$("#pet_start").val();
		var start=new Date(startTime.replace("-", "/").replace("-", "/"));
		var endTime=$("#pet_over").val();
		var end=new Date(endTime.replace("-", "/").replace("-", "/"));
		if(end<start){
			return false;
		}
		return true;
	}


</script>


<script type="text/javascript">

	$("#protocol_pet_pic").on('click',function(){

		var fos_country = $('#fos_country').val();
		layer.open({
		  	type: 2,
		  	title: '宠物寄养服务协议',
		  	shadeClose: true,
		  	shade: 0.5,
		   skin: 'layui-layer-rim', //加上边框
		  	area: ['680px', '70%'],
		  	content: "https://www.mixiupet.com/Web/Foster/protocol_pet_pic/fos_country/"+fos_country  //iframe的url
		});

	})
</script>

<script type="text/javascript">
	$("#pick_up").on('click',function(){
		$(".address_user_pet").remove();

		if($(".address_pet_car").children("input").size()<1){
			$(".address_pet_car").append("<input id='addresssss' name='fo_address' type='text' class='wid wid300 pick_up'/>");
		}
	})

	$("#delivery").on('click',function(){
		var address = $('#add_hide').val();

		$(".pick_up").remove();
		if($(".address_pet_car").children("label").size()<1){
			$(".address_pet_car").append("<label  class='address_user_pet'>"+address+"</label>");
		}
	})
</script>
<script>
	var cityPicker = new IIInsomniaCityPicker({
		data: cityData,
		target: '#cityChoice',
		valType: 'k-v',
		hideCityInput: '#city',
		hideProvinceInput: '#province',
		callback: function(city_id){
			// alert(city_id);
		}
	});

	cityPicker.init();
</script>

<script type="text/javascript">
	jeDate({
		dateCell:"#foster_pet_date",
		format:"YYYY-MM-DD",
		isinitVal:true,
		isTime:true,
		minDate:"1999-12-01",
		okfun:function(val){alert(val)}
	})
</script>

<script type="text/javascript">
	jeDate({
		dateCell:"#pet_start",
		format:"YYYY-MM-DD",
		isinitVal:true,
		isTime:true,

		minDate:"2016-12-01",
		okfun:function(val){alert(val)}
	})
</script>

<script type="text/javascript">
	jeDate({
		dateCell:"#pet_over",
		format:"YYYY-MM-DD",
		isinitVal:true,
		isTime:true,

		minDate:"2016-12-01",
		okfun:function(val){alert(val)}
	})
</script>

<script type="text/javascript">
	function show(){
		document.getElementById('userinfo').style.display='block';
	}
	function hold(){
		document.getElementById('userinfo').style.display='none';
	}
</script>
<style>
	.layui-layer-rim{
		top: 10vh !important;
	}
</style>

<script>
	$(document).ready(function(){
		$('#change_ddd').attr('class','action')
	});
</script>