<link rel="stylesheet" href="{$ptype_url}/css/zyUpload.css" type="text/css">
<include file="./application/Web/View/header_menu.html"/>

<div class="mian_cent" >
	<div class="center">


            <div class="selling_pet_my">
                <li><b>宠物类型：</b>
                    <select class="select_refund" name="pet_variety">
                            <option value="{$lists.pet_variety}">{$lists.pet_variety}</option>
                    </select>
                </li>

                <li>
                    <b>宠物年龄：</b>
                    <input type="text" name="se_age" value="{$lists.se_age}" id="pet_age" />月
                </li>

                <li class="vaccine_pet">
                    <b>疫苗情况：</b>
                    <label><div name="se_insert">{$lists.se_vaccine}</div></label>

                </li>

                <li>
                    <b>最近驱虫时间：</b>
                    <div name="se_insert" > {$lists.se_vaccine}</div>

                </li>

                <li class="vaccine_pet">
                    <b>出售条数：</b>
                    <label><div name="se_insert" > {$lists.se_count_male}</div>公</label>
                    <label><div name="se_insert" > {$lists.se_count_female}</div>母</label>
                </li>

                <li>
                    <b>意向价格：</b>
                    <div name="se_insert" > {$lists.se_price}</div>元/条
                </li>

                <li>
                    <b>详细描述：</b>
                    <div class="describe_show">
                    <div class="describe_pet" name="se_describe">{$lists.se_describe}</div>
                    </div>
                </li>


                <li><b>联系电话：</b><div  name="se_phone" > {$lists.se_phone}</div></li>

                <li><b>详细地址：</b><div  name="se_phone" > {$lists.se_address}</div></li>

                <li><b>身份证号：</b><div  name="se_phone" > {$lists.se_card}</div></li>

                <li><b>身份证照：</b>
                    <div class="user_carded">
                        <div class="add_head_pic">
                            <div id="carded_face">
                                <img id="carded_face_img" width=100% height=auto border=0 src='{$lists.se_pic.0}'>
                            </div>
                        </div>


                        <div class="add_head_pic">
                            <div id="carded_side">
                                <img id="carded_side_img" width=100% height=auto border=0 src='{$lists.se_pic.1}'>
                            </div>
                        </div>

                    </div>
                </li>

                <li><b>宠物照片：</b>
                    <div class="user_carded">
                        <div class="add_head_pic">

                            <foreach name="lists.se_ppic" item="vo">


                                <div >
                                    <img  width=100% height=auto border=0 src='{$vo}'>
                                </div>

                            </foreach>
                        </div>



                    </div>
                </li>



            </div>


	</div>
</div>

<include file="./application/Web/View/footer.html"/>
<script src="{$ptype_url}/js/jquery-1.9.1.min.js"></script>
<script src="{$ptype_url}/js/jquery.layer.js"></script>

<!-- 时间 -->
<script type="text/javascript" src="{$ptype_url}/js/jedate.min.js"></script>


<!-- 引用核心层插件 -->
<script type="text/javascript"  src="{$ptype_url}/js/zyFile.js"></script>
<!-- 引用控制层插件 -->
<script type="text/javascript"  src="{$ptype_url}/js/zyUpload.js"></script>
<!-- 引用初始化JS -->
<script type="text/javascript"  src="{$ptype_url}/js/jq22.js"></script>

<script>
    $(document).ready(function(){
        $('#change_fff').attr('class','action')
    });
</script>

<script>
    $('#submit_sd').click(function () {

    var pet_age = $('#pet_age').val();
    if( pet_age.length<= 0){
        layer.tips('请填写宠物年龄。', '#pet_age', {
            tips: [1, '#FFFFFF'],
            time: 2000
        });
        return false;
    }

    var pet_vac_a = $('#pet_vac_a').val();
    if( pet_vac_a.length<= 0){
        layer.tips('请填写疫苗情况。', '#pet_vac_a', {
            tips: [1, '#FFFFFF'],
            time: 2000
        });
        return false;
    }
    var pet_vac_b = $('#pet_vac_b').val();
    if( pet_vac_b.length<= 0){
        layer.tips('请填写疫苗情况。', '#pet_vac_b', {
            tips: [1, '#FFFFFF'],
            time: 2000
        });
        return false;
    }

    var pet_com = $('#pet_com').val();
    if( pet_com.length<= 0){
        layer.tips('请填写出售条数。', '#pet_com', {
            tips: [1, '#FFFFFF'],
            time: 2000
        });
        return false;
    }

    var pet_wood = $('#pet_wood').val();
    if( pet_wood.length<= 0){
        layer.tips('请填写出售条数。', '#pet_wood', {
            tips: [1, '#FFFFFF'],
            time: 2000
        });
        return false;
    }


    var pet_date = $('#pet_date').val();
    if( pet_date.length<= 0){
        layer.tips('请填写驱虫时间。', '#pet_date', {
            tips: [1, '#FFFFFF'],
            time: 2000
        });
        return false;
    }

    var pet_pice = $('#pet_pice').val();
    if( pet_pice.length<= 0){
        layer.tips('请填写出售价格。', '#pet_pice', {
            tips: [1, '#FFFFFF'],
            time: 2000
        });
        return false;
    }

    var se_describe = $('#se_describe').val();
    if( se_describe.length<= 0){
        layer.tips('请填写宠物描述。', '#se_describe', {
            tips: [1, '#FFFFFF'],
            time: 2000
        });
        return false;
    }

    var se_phone = $('#se_phone').val();
    if( se_phone.length!= 11){
        layer.tips('请填写正确的电话号码。', '#se_phone', {
            tips: [1, '#FFFFFF'],
            time: 2000
        });
        return false;
    }

    var se_address = $('#se_address').val();
    if( se_address.length<= 0){
        layer.tips('请填写详细地址。', '#se_address', {
            tips: [1, '#FFFFFF'],
            time: 2000
        });
        return false;
    }

    var se_card = $('#se_card').val();
    if( se_card.length<= 0){
        layer.tips('请填写身份证号码。', '#se_phone', {
            tips: [1, '#FFFFFF'],
            time: 2000
        });
        return false;
    }

    $('#submit_sd').submit();

    })
</script>


<script type="text/javascript">
   
    jeDate({
		dateCell:"#pet_date",
		format:"YYYY-MM-DD",
		isinitVal:true,
		isTime:true, //isClear:false,
		minDate:"2006-06-16",
		okfun:function(val){alert(val)}
	})



</script>


<script type="text/javascript">
      //图片上传预览    IE是用了滤镜。
        function previewImage(file)
        {
          var MAXWIDTH  = 260; 
          var MAXHEIGHT = 180;
          var div = document.getElementById('carded_face');
          if (file.files && file.files[0])
          {
              div.innerHTML ='<img id=carded_face_img>';
              var img = document.getElementById('carded_face_img');
              img.onload = function(){
                var rect = clacImgZoomParam(MAXWIDTH, MAXHEIGHT, img.offsetWidth, img.offsetHeight);
                img.width  =  rect.width;
                img.height =  rect.height;
//                 img.style.marginLeft = rect.left+'px';
                img.style.marginTop = rect.top+'px';
              }
              var reader = new FileReader();
              reader.onload = function(evt){img.src = evt.target.result;}
              reader.readAsDataURL(file.files[0]);
          }
          else //兼容IE
          {
            var sFilter='filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=scale,src="';
            file.select();
            var src = document.selection.createRange().text;
            div.innerHTML = '<img id=carded_face_img>';
            var img = document.getElementById('carded_face_img');
            img.filters.item('DXImageTransform.Microsoft.AlphaImageLoader').src = src;
            var rect = clacImgZoomParam(MAXWIDTH, MAXHEIGHT, img.offsetWidth, img.offsetHeight);
            status =('rect:'+rect.top+','+rect.left+','+rect.width+','+rect.height);
            div.innerHTML = "<div id=divhead style='width:"+rect.width+"px;height:"+rect.height+"px;margin-top:"+rect.top+"px;"+sFilter+src+"\"'></div>";
          }
        }
        function clacImgZoomParam( maxWidth, maxHeight, width, height ){
            var param = {top:0, left:0, width:width, height:height};
            if( width>maxWidth || height>maxHeight )
            {
                rateWidth = width / maxWidth;
                rateHeight = height / maxHeight;
                 
                if( rateWidth > rateHeight )
                {
                    param.width =  maxWidth;
                    param.height = Math.round(height / rateWidth);
                }else
                {
                    param.width = Math.round(width / rateHeight);
                    param.height = maxHeight;
                }
            }
            param.left = Math.round((maxWidth - param.width) / 2);
            param.top = Math.round((maxHeight - param.height) / 2);
            return param;
        }
</script>
 
<script type="text/javascript">
      //图片上传预览    IE是用了滤镜。
        function previewImages(file)
        {
          var MAXWIDTH  = 260; 
          var MAXHEIGHT = 180;
          var div = document.getElementById('carded_side');
          if (file.files && file.files[0])
          {
              div.innerHTML ='<img id=carded_side_img>';
              var img = document.getElementById('carded_side_img');
              img.onload = function(){
                var rect = clacImgZoomParam(MAXWIDTH, MAXHEIGHT, img.offsetWidth, img.offsetHeight);
                img.width  =  rect.width;
                img.height =  rect.height;
//                 img.style.marginLeft = rect.left+'px';
                img.style.marginTop = rect.top+'px';
              }
              var reader = new FileReader();
              reader.onload = function(evt){img.src = evt.target.result;}
              reader.readAsDataURL(file.files[0]);
          }
          else //兼容IE
          {
            var sFilter='filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=scale,src="';
            file.select();
            var src = document.selection.createRange().text;
            div.innerHTML = '<img id=carded_side_img>';
            var img = document.getElementById('carded_side_img');
            img.filters.item('DXImageTransform.Microsoft.AlphaImageLoader').src = src;
            var rect = clacImgZoomParam(MAXWIDTH, MAXHEIGHT, img.offsetWidth, img.offsetHeight);
            status =('rect:'+rect.top+','+rect.left+','+rect.width+','+rect.height);
            div.innerHTML = "<div id=divhead style='width:"+rect.width+"px;height:"+rect.height+"px;margin-top:"+rect.top+"px;"+sFilter+src+"\"'></div>";
          }
        }
        function clacImgZoomParam( maxWidth, maxHeight, width, height ){
            var param = {top:0, left:0, width:width, height:height};
            if( width>maxWidth || height>maxHeight )
            {
                rateWidth = width / maxWidth;
                rateHeight = height / maxHeight;
                 
                if( rateWidth > rateHeight )
                {
                    param.width =  maxWidth;
                    param.height = Math.round(height / rateWidth);
                }else
                {
                    param.width = Math.round(width / rateHeight);
                    param.height = maxHeight;
                }
            }
            param.left = Math.round((maxWidth - param.width) / 2);
            param.top = Math.round((maxHeight - param.height) / 2);
            return param;
        }
</script>