
<!-- 公共样式 -->
<link rel="stylesheet" type="text/css" href="{$ptype_url}/css/rating.css" />

<link rel="stylesheet" type="text/css" href="{$ptype_url}/css/other.css" />
<include file="./application/Web/View/header_user.html"/>

<div class="user_usercenter">
	<form action="{:U('Web/Order/comment_post')}" method="post">

		<foreach name="list" item="vo">
			<div class="user_info_top">
				<div class="order_evaluate_show_title">
					<img src="{$vo.cover}" />
					<h1>{$vo.name}</h1>
					<!--<p>商品规格：黑白、2个月大</p>-->
				</div>
				<div class="order_evaluate_show">
					<li><b>评分等级：</b><div class="ui rating" data-rating="5" id="datarat" data-max-rating="5"></div></li>
					<input type="hidden" value="{$order_id}" name="order_id">
					<input type="hidden" value="5" name="level[]"  id="level">
					<input type="hidden" value="{$vo.id}" name="id[]"  >
					<li><b>评价内容：</b>
						<div class="evaluate_main">
							<textarea class="textarea_main" maxlength="100" name="content[]"  placeholder="很不错，很满意">很不错，很满意</textarea>
							<span class="un"><font id="max_number">93</font>/100</span>
						</div>
					</li>
				</div>
			</div>
		</foreach>


		<div class="submit_up show_evaluate"><b></b><input type="submit" value="提交评论"  /></div>
	</form>
</div>


<include file="./application/Web/View/footer_other.html"/>

<script  type="text/javascript" src="{$ptype_url}/js/semantic.min.js"></script>
<script  type="text/javascript" src="{$ptype_url}/js/rating.min.js"></script>

<script type="text/javascript">
	$('.ui.rating')
	  .rating();

	$('#datarat').click(function(){
		var lene = $(".icon.active").length;
		$('#level').val(lene);
	})

</script>

<script type="text/javascript">
	$('textarea').each(function() {
	var ta = $(this), p = ta.parent(), ml = parseInt(ta.attr('maxlength')),

	v = ta.val(), h = ta.attr('placeholder');

	if (v == h) v = '';
	if (h && ml) {
	//var sp = '<span style="bottom: 10px;position: absolute;right: -10px;">'+v.length+'/'+ml+'</span>';
	p.css({'position': 'relative'});
	//ta.before(sp);
	ta.bind('click keyup', function() {
	var m = $(this), v1 = m.val();
	if (v1.length > ml) {
	m.val(v1.substring(0, ml))
	}
	//m.prev().text(m.val().length + '/' + ml);
	$("#max_number").text(ml-m.val().length);
	});
	}
	});
</script>