<include file="./application/Web/View/header_menu.html"/>


<div class="user_mian">
    <div class="center">
      <div class="banner-img">  {$img}</div>

      <div class="banner-content">  {$detail}</div>

    </div>
</div>
<include file="./application/Web/View/footer.html"/>

<style>
    .banner-img{
        width:100%;
        margin: 10px 0px;
    }
    .banner-img img{
        width: 100%;
    }
    .banner-content{
        width: 100%;
        float: left;
        margin: 20px 0px;
    }
    .banner-content img{
        width: 100%;
        margin: 10px 0px;
    }
    .banner-content p{
        line-height: 25px;
        margin: 0px 0px 20px;
    }
</style>